<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <%= require('html-loader!./templates/head.html') %>


  </head>


  <%= require('html-loader!./templates/navbar.html') %>




  <div class="page-container" id="account">




        <section class="hero   ">
          <div class="hero-body">



          <div class="whitespace-md"></div>


            <div id="account-data" class="account-data">
              <div   class="title">
                Account {{ address }}
              </div>


              {{ tokenBalance }}

              {{ etherBalance }}

             </div>


                   <div class="whitespace-md"></div>


          </div>
        </section>




    </div>



</html>
