<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>

        <%= require('html-loader!./templates/head.html') %>

  </head>


  <%= require('html-loader!./templates/navbar.html') %>



<div class="page-container" id="home">


      <div id="jumbotron" class=" ">


        <div class="jumbo-logo-container">

          <img :src="jumboLogo" height=240px width=240px  ></img>

            <div class="subtitle font-roboto">0xBitcoin Explorer</div>
        </div>


        <div class="whitespace-sm"></div>


        <div class="subtitle color-primary has-text-centered" v-cloak>
          {{ errorMessage }}
        </div>

      </div>

      <section class="hero   ">
        <div class="hero-body">



        <div class="whitespace-md"></div>


        </div>
      </section>




  </div>



      <%= require('html-loader!./templates/footer.html') %>


  </body>
</html>
