<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>

        <%= require('html-loader!./templates/head.html') %>

  </head>


  <%= require('html-loader!./templates/navbar.html') %>



<div class="page-container" id="home">


      <div id="jumbotron" class=" ">


        <div class="jumbo-logo-container">

          <img :src="jumboLogo" height=240px width=240px  ></img>

            <div class="subtitle font-roboto">0xBitcoin Explorer</div>
        </div>


        <div class="whitespace-sm"></div>


        <div class="subtitle color-primary has-text-centered" v-cloak>
          {{ errorMessage }}
        </div>

      </div>

      <section class="hero   ">
        <div class="hero-body">


          <div class="columns">
            <div class="column">

              <div id="mint-list" class="event-list" v-cloak>


                <div class="subtitle" >Recent Mints</div>

                <table>
                  <thead>
                    <tr >
                      <td class="has-text-centered"> Block </td>
                      <td class="has-text-centered"> Hash </td>

                    </tr>
                  </thead>
                  <tbody>
                  <tr v-for="(item, index) in list"   v-bind:class="{   'asset-row':true, 'acts-as-link':true, 'hover-shadow':true   } " >

                      <td class="row-cell has-text-centered  "> {{item.blockNumberFormatted}} </td>
                     <td class="row-cell has-text-centered "> <a v-bind:href="item.url"> {{item.hashFormatted}} </a> </td>

                  </tr>
                </tbody>
              </table>

               </div>

            </div>

            <div class="column">

              <div id="transfer-list" class="event-list" v-cloak>



                <div class="subtitle" >Recent Transfers</div>

                <table>
                  <thead>
                    <tr >
                      <td class="has-text-centered"> Block </td>
                      <td class="has-text-centered"> Hash </td>

                    </tr>
                  </thead>
                  <tbody>
                  <tr v-for="(item, index) in list"   v-bind:class="{   'asset-row':true, 'acts-as-link':true, 'hover-shadow':true   } " >

                      <td class="row-cell has-text-centered  "> {{item.blockNumberFormatted}} </td>
                     <td class="row-cell has-text-centered "> <a v-bind:href="item.url"> {{item.hashFormatted}} </a> </td>

                  </tr>
                </tbody>
              </table>

               </div>

            </div>

          </div>


        <div class="whitespace-md"></div>


        </div>
      </section>




  </div>



      <%= require('html-loader!./templates/footer.html') %>


  </body>
</html>
