<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <%= require('html-loader!./templates/head.html') %>


  </head>


  <%= require('html-loader!./templates/navbar.html') %>



<div class="page-container" id="transaction">


  <section class="hero   ">
    <div class="hero-body">



    <div class="whitespace-md"></div>


      <div id="tx-data" class="tx-data">
        <div   class="title">
          Tx Hash {{ txData.hash }}
        </div>


       </div>


             <div class="whitespace-md"></div>


    </div>
  </section>


  </div>



      <%= require('html-loader!./templates/footer.html') %>


      <a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647;"><i class="icon-arrow-up"></i></a>

  </body>
</html>
